%header
  #prelude
    %h1
      尼泊尔Mustang地区之旅<small>(9)</small>
    %p    
      远离灯红酒绿的浮躁与喧嚣，走进神秘莫测的喜马拉雅，寻找心灵的宁静。一路相伴的唯有脚上的登山靴，背上的Osprey背包，和峻美无比的安纳普尔纳峰。
  #author
    .avatar
      = image_tag "stubs/lilu.jpg"
    .profile
      %span.profile_name 李路
      %span.profile_desc 一个热爱户外徒步的跋涉者
  #actions
    %nav
      %a#lists-link{href:"#"}
        创建了<em>10</em>个列表
    .collapse
      %i.icon-backward


%aside#lists-all
  %ul
    - 7.times do |i|
      %li
        .product_thumb
          = link_to image_tag("stubs/fromm.jpg")
        .list_title
          %a{href:"#"}
            Cookie的三餐都吃最健康的<small>(9)</small>
  
%section
  - 3.times do |i|
    %article= render partial: "stubs/lowa"
    %article= render partial: "stubs/osprey"
    %article= render partial: "stubs/anna"

- content_for :script do
  :javascript
    $(Meejian.lists.show);
