%article
  %header
    = image_tag "stubs/cookie.jpg"
    .profile
      %span= link_to "Cookie", "#", class: "ulink"
      %span 高帅富
    %p
      三餐吃最健康的
      = link_to "Fromm三文鱼蔬菜狗粮", "#", class: "plink"
      ，保证我的完美身材，用
      = link_to "Cloud Star绿茶浴液", "#", class: "plink"
      洗的香喷喷，出门再戴上又酷又舒服的
      = link_to "Flexi Rock Star", "#", class: "plink"
      ，嘿嘿，这下白富美们都是我的啦
  %ul
    %li
      .image= image_tag "stubs/fromm.jpg"
      .name
        Fromm 4-Star Salmon A La Veg 
      .price
        ￥580
    %li
      .image= image_tag "stubs/cloudstar.jpg"
      .name
        Cloud Star Relaxing Greentea
      .price
        ￥180
    %li
      .image= image_tag "stubs/flexi.jpg"
      .name
        Flext Rock Star
      .price
        ￥410

