%article
  %header
    = image_tag "stubs/doudou.jpg"
    .profile
      %span= link_to "豆豆", "#", class: "ulink"
      %span 游戏发烧友
    %p
      今天该玩什么呢？用
      = link_to "T500RS", "#", class: "plink"
      开GT赛车5？用
      = link_to "MadCatz摇杆", "#", class: "plink"
      切街霸4？用
      = link_to "Starpex吉他", "#", class: "plink"
      弹吉他英雄3？别叫我，让我再做会儿梦......
  %ul
    %li
      .image= image_tag "stubs/t500rs.jpg"
      .name
        GT5专用Thrustmaster T500RS方向盘
      .price
        ￥4000
    %li
      .image= image_tag "stubs/sf4.jpg"
      .name
        Mad Catz街霸4竞技摇杆
      .price
        ￥980
    %li
      .image= image_tag "stubs/guitar.jpg"
      .name
        Peak Starpex Guitar
      .price
        ￥1480

