%article
  %header
    = image_tag "stubs/liguanming.jpg"
    .profile
      %span= link_to "栗冠明", "#", class: "ulink"
      %span 摄影发烧友
    %p
      流连巴黎的夜晚，穿梭在十三区的穷街陋巷，从
      = link_to "Billingham Harley Pro", "#", class: "plink"
      摄影包中，悄悄拿出
      = link_to "Leica M6", "#", class: "plink"
      ，换上
      = link_to "Leica 50mm/f0.95 Noctilux", "#", class: "plink"
      ，寻找下一个决定性瞬间。
  %ul
    %li
      .image= image_tag "stubs/billingham.jpg"
      .name
        Billingham Harley Pro摄影包
      .price
        ￥1600
    %li
      .image= image_tag "stubs/leicam6.jpg"
      .name
        Leica M6
      .price
        ￥9000
    %li
      .image= image_tag "stubs/4459.jpg"
      .name
        Leica 50mm/f0.95 Noctilux
      .price
        ￥61000
