%article
  %header
    = image_tag "stubs/liguanming.jpg"
    .profile
      %span= link_to "栗冠明", "#", class: "ulink"
      %span 摄影爱好者
    %p
      喜欢流连在北京的大街小巷，寻找下一个决定性瞬间。出门之前，带上既可当台灯，又可当手电，还可以为照片打柔光的
      = link_to "Trioh!手电", "#", class: "plink"
      ，准备好复古的
      = link_to "富士X100", "#", class: "plink"
      ，等等，我展现作品的
      = link_to "Instagram", "#", class: "plink"
      又有人赞了，先看看再说。
  %ul
    %li
      .image= link_to image_tag("stubs/trioh.jpg"), "http://www.kickstarter.com/projects/1540504137/trioh-the-worlds-most-beautiful-flashlight", class: "outlink"
      .name
        Trioh! 手电
      .price
        ￥850
    %li
      .image= link_to image_tag("stubs/x100.jpg"), "http://www.rayi.cn/?product-222214076.html", class: "outlink"
      .name
        富士X100
      .price
        ￥6799
    %li
      .image= link_to image_tag("stubs/instagram.jpg"), "http://instagr.am/", class: "outlink"
      .name
        Instagram
      .price
        免费      
