%article
  %header
    = image_tag "stubs/lilu.jpg"
    .profile
      %span= link_to "李路", "#", class: "ulink"
      %span Free Hacker
    %p
      让身体沉入
      = link_to "Herman Miller Aeron", "#", class: "plink"
      ，双手慢慢地放在
      = link_to "Matias Tactile 3", "#", class: "plink"
      上准备Touch Typing，打开
      = link_to "Emacs", "#", class: "plink"
      ，开始编写The Next Big Thing。
  %ul
    %li
      .image= link_to image_tag("stubs/aeron.jpg"), "http://www.hermanmiller.cn/Product/Aeron-Chairs", class: "outlink"
      .name
        Herman Miller Aeron 办公椅
      .price
        ￥8200
    %li
      .image= link_to image_tag("stubs/Tactile.jpg"), "http://matias.ca/tactilepro3/", class: "outlink"      
      .name
        机械键盘
      .price
        ￥940
    %li
      .image= link_to image_tag("stubs/emacs.png"), "http://www.gnu.org/software/emacs/", class: "outlink"      
      .name
        Emacs编辑器
      .price
        ￥0
