%article
  %header
    = image_tag "stubs/luqianxing.jpg"
    .profile
      %span= link_to "小卢", "#", class: "ulink"
      %span 篮球爱好者
    %p
      站在篮球场上面对下一个对手，脚上穿着
      = link_to "Nike Zoom Hyperdunk Elite", "#", class: "plink"
      ，还有舒服的
      = link_to "Nike Pro球裤", "#", class: "plink"
      ，戴上
      = link_to "Dr.Dre Studio", "#", class: "plink"
      ，音量调成最大，EMINEM的"Welcome to detroit"响起的那一刻，我起飞了。
  %ul
    %li
      .image= image_tag "stubs/hyperdunk.jpg"
      .name
        Nike Zoom Hyperdunk Elite
      .price
        ￥1200
    %li
      .image= image_tag "stubs/nikepro.jpg"
      .name
        Nike Pro球裤
      .price
        ￥250
    %li
      .image= image_tag "stubs/dr.dre.jpg"
      .name
        Dr.Dre Studio
      .price
        ￥2000
