%article
  %header
    = image_tag "stubs/luqianxing.jpg"
    .profile
      %span= link_to "小卢", "#", class: "ulink"
      %span 3D打印爱好者
    %p
      最近对3D打印技术非常感兴趣 入手了一批小玩意儿。作为苹果的非典型爱好者，随手买了
      = link_to "两个Steve的半身像", "#", class: "plink"
      ，第二个物件儿是
      = link_to "八爪鱼造型的杯子", "#", class: "plink"
      另外还有一个意外的收获，非常酷的
      = link_to "iphone手机套", "#", class: "plink"
  %ul
    %li
      .image= link_to image_tag("stubs/jobsandwoz.jpg"), "http://www.shapeways.com/model/161665/steve-wozniak-bust.html", class: "outlink"
      .name
        Steve Wozniak 半身像
      .price
        ￥88
    %li
      .image= link_to image_tag("stubs/octocup.jpg"), "http://www.shapeways.com/model/263452/one-cup-a-day-day-01-octo-cup.html", class: "outlink"
      .name
        Octo Cup
      .price
        ￥45
    %li
      .image= link_to image_tag("stubs/iphonecase.jpg"), "http://www.shapeways.com/model/414675/iphone-4-4s-case-cell-2-april-1month-discount.html", class: "outlink"
      .name
        iphone4/4s 手机壳
      .price
        ￥15
