%article
  %header
    = image_tag "stubs/silence.jpg"
    .profile
      %span= link_to "Shiva", "#", class: "ulink"
      %span 户外徒步者
    %p
      远离灯红酒绿的浮躁与喧嚣，走进神秘莫测的喜马拉雅，寻找心灵的宁静。一路相伴的唯有脚上的
      = link_to "Lowa登山靴", "#", class: "plink"
      ，背上的
      = link_to "Osprey背包", "#", class: "plink"
      ，和峻美无比的
      = link_to "安纳普尔纳峰", "#", class: "plink"
      。
  %ul
    %li
      .image= link_to image_tag("stubs/lowa.jpg"), "http://www.sanfo.com/hwyp/product/17286.html", class: "outlink"      
      .name
        Lowa Hikking Boot
      .price
        ￥1938
    %li
      .image= link_to image_tag("stubs/osprey.jpg"), "http://www.sanfo.com/hwyp/product/10053.html", class: "outlink"      
      .name
        Osprey Variant 52 Pack
      .price
        ￥1530
    %li
      .image= link_to image_tag("stubs/annapurna.jpg"), "http://www.annapurnatravel.com/", class: "outlink"      
      .name
        安纳普尔纳徒步环游
      .price
        ￥6000

