%article
  %header
    = image_tag "stubs/wuming.jpg"
    .profile
      %span= link_to "Silence", "#", class: "ulink"
      %span 禅者的初心
    %p
      在这个炎热的夏天，开着最酷的
      = link_to "Dyson中空风扇", "#", class: "plink"
      吹着风，让小巧迷人音量却无比充沛的
      = link_to "Jambox蓝牙音箱", "#", class: "plink"
      放着电子音乐，打开仿佛不属于这个世界的
      = link_to "LightLight漂浮台灯", "#", class: "plink"
      ，科技，把身边的一切，都变得很魔幻。
  %ul
    %li
      .image= link_to image_tag("stubs/dyson.jpg"), "http://www.dyson.com/fans/", class: "outlink"      
      .name
        Dyson 中空风扇
      .price
        ￥2100      
    %li
      .image= link_to image_tag("stubs/jambox.jpg"), "http://store.apple.com/cn/product/H3163CH/A/jambox-by-jawbone-wireless-speaker", class: "outlink"      
      .name
        Jawbone Jambox 蓝牙音箱
      .price
        ￥1848      
    %li
      .image= link_to image_tag("stubs/light.jpg"), "http://www.floating-lamps.com/", class: "outlink"      
      .name
        Light Light 磁悬浮台灯
      .price
        ￥8800
