%article
  %header
    = image_tag "stubs/wuming.jpg"
    .profile
      %span= link_to "空谷幽兰", "#", class: "ulink"
      %span 跑步爱好者
    %p
      跑步必不可少的装备：
      1，为了避免伤膝盖，穿能负担的起的减震最好的跑鞋，我的是
      = link_to "Asics Kayano 17", "#", class: "plink"
      ；2，选择轻便又容易排汗的防风外套，我穿
      = link_to "Asics路跑防风运动外套", "#", class: "plink"
      ；3，最后还需要一个精确测量跑步速度和距离的装备，最好的是iphone上的
      = link_to "iRunner", "#", class: "plink"
      , 强大，好用
  %ul
    %li
      .image= image_tag "stubs/kayano.jpg"
      .name
        Asics Gel-Kayano 17
      .price
        ￥940
    %li
      .image= image_tag "stubs/waitao.jpg"
      .name
        Asics 路跑防风外套
      .price
        ￥580
    %li
      .image= image_tag "stubs/irunner.jpg"
      .name
        iRunner
      .price
        ￥18

