%article
  %header
    = image_tag "stubs/xiaoxue.png"
    .profile
      %span= link_to "晓雪", "#", class: "ulink"
      %span 白领乐活族
    %p
      每天8小时面对的办公桌，希望它生气勃勃。写字的时候用
      = link_to "Suck UK鼓棒铅笔", "#", class: "plink"
      敲敲脑袋激发灵感，有了想法就抽一张
      = link_to "水果便利贴", "#", class: "plink"
      记下来，东西多了，需要整理文件时，就靠漂亮的
      = link_to "Urban Prefer高跟鞋订书机", "#", class: "plink"
      啦，有了这些小物，上班也不再枯燥。
  %ul
    %li
      .image= link_to image_tag("stubs/suckuk.jpg"), "http://nuandao.com/product/1665", class: "outlink"
      .name
        Suck UK鼓棒铅笔
      .price
        ￥38
    %li
      .image= link_to image_tag("stubs/fruitmemo.jpg"), "http://www.gnr8.biz/product_info.php?products_id=1294&products_name=Fruit%20Memo%20Desk%20Pad", class: "outlink"
      .name
        水果书桌便利贴
      .price
        ￥150
    %li
      .image= link_to image_tag("stubs/gaogen.jpg"), "http://item.taobao.com/item.htm?id=18034524537&", class: "outlink"
      .name
        Urban Prefer 高跟鞋订书机
      .price
        ￥90
