%article
  %header
    = image_tag "stubs/xiaoxue.png"
    .profile
      %span= link_to "晓雪", "#", class: "ulink"
      %span 白领小清新
    %p
      唤醒新的一天的时候，摸摸床头
      = link_to "Momiji的小娃娃", "#", class: "plink"
      ，把她们也叫醒。骑上
      = link_to "Schwinn的沙滩车", "#", class: "plink"
      去陶然亭遛弯。回来用
      = link_to "菲利普Sonicare电动牙刷", "#", class: "plink"
      舒舒服服的清理一下自己的口腔，之后就美美的上班去了啊～
  %ul
    %li
      .image= image_tag "stubs/momiji.png"
      .name
        Momiji玩偶
      .price
        ￥99
    %li
      .image= image_tag "stubs/schwinn.png"
      .name
        Schwinn的沙滩车
      .price
        ￥2800
    %li
      .image= image_tag "stubs/sonicare.png"
      .name
        菲利普Sonicare电动牙刷
      .price
        ￥1200
