%article
  %header
    = image_tag "stubs/xiuxiu.jpg"
    .profile
      %span= link_to "顶秀", "#", class: "ulink"
      %span 家居设计达人
    %p
      家居中最应该下本钱的，是那些最常使用的东东。客厅里是沙发，我选了
      = link_to "宜家斯德哥尔摩", "#", class: "plink"
      ，设计的很简约，坐起来也舒服。厨房里最多面对的则是水槽，花大价钱败了
      = link_to "Blanco花岗岩水槽", "#", class: "plink"
      ，一体成型，好刷又好看。最后是每天都踩来踩去的
      = link_to "富年达柚木地板", "#", class: "plink"
      ，脚感很舒适，而且柚木不怕水不怕虫蛀，可以用好几十年。
  %ul
    %li
      .image= image_tag "stubs/ikeasofa.jpg"
      .name
        宜家斯德哥尔摩沙发
      .price
        ￥12000
    %li
      .image= image_tag "stubs/blanco.jpg"
      .name
        Blanco花岗岩水槽
      .price
        ￥4600
    %li
      .image= image_tag "stubs/floor.jpg"
      .name
        富年达柚木地板
      .price
        ￥810

