%article
  %header
    = image_tag "stubs/yang.jpg"
    .profile
      %span= link_to "杨叔叔", "#", class: "ulink"
      %span ACG硬宅
    %p
      = link_to "One Piece闹钟", "#", class: "plink"
      把我从昏昏沉沉中叫醒，可能是因为昨晚打游戏四点才睡吧，很辛苦才能从床上爬起来，拍拍身边的
      = link_to "凉宫春日抱枕", "#", class: "plink"
      ，艰难地套上椅子上搭的
      = link_to "Uniqlo EVA Tee", "#", class: "plink"
      ，好吧，新的一天又开始了，世界，还没有毁灭。
  %ul
    %li
      .image= image_tag "stubs/onepiece.jpg"
      .name
        One Piece闹钟
      .price
        ￥100
    %li
      .image= image_tag "stubs/lianggong.jpg"
      .name
        凉宫春日粉丝设计限量抱枕
      .price
        ￥60
    %li
      .image= image_tag "stubs/eva.jpg"
      .name
        优衣库新世纪福音战士T恤
      .price
        ￥129
