%article
  %header
    = image_tag "stubs/yang.jpg"
    .profile
      %span= link_to "杨叔叔", "#", class: "ulink"
      %span 硬宅
    %p
      今年的目标，攒够钱入手最发烧的
      = link_to "T500RS方向盘", "#", class: "plink"
      玩GT赛车5，不断的给我
      = link_to "1UP", "#", class: "plink"
      ，有死掉满血复活的机会，最后，找到个愿意穿
      = link_to "手柄T恤", "#", class: "plink"
      的女朋友......
  %ul
    %li
      .image= link_to image_tag("stubs/t500rs.jpg"), "http://www.amazon.com/Thrustmaster-T500RS-Racing-Wheel-Playstation-3/dp/tags-on-product/B004J6KRD6", class: "outlink"
      .name
        GT5专用Thrustmaster T500RS方向盘
      .price
        ￥4100
    %li
      .image= link_to image_tag("stubs/1up.jpg"), "http://www.etsy.com/listing/95419181/1-up-keychain?ref=sr_gallery_40&ga_search_query=video+game&ga_view_type=gallery&ga_ship_to=ZZ&ga_min=0&ga_max=0&ga_page=5&ga_search_type=handmade", class: "outlink"
      .name
        手工1up挂饰
      .price
        ￥16
    %li
      .image= link_to image_tag("stubs/controltee.jpg"), "http://www.gadgetreview.com/2010/02/why-havent-we-seen-this-before-game-controller-t-shirt.html", class: "outlink"
      .name
        Mary Jane T-Shirt
      .price
        ￥260
