%article
  %header
    = image_tag "stubs/yangming.jpg"
    .profile
      %span= link_to "阳明", "#", class: "ulink"
      %span 北京小爷
    %p
      贝勒手中三件宝,
      = link_to "板指", "#", class: "plink"
      = link_to "核桃", "#", class: "plink"
      = link_to "笼中鸟", "#", class: "plink"
  %ul
    %li
      .image= image_tag "stubs/banzhi.jpg"
      .name
        玉板指
      .price
        ￥3200
    %li
      .image= image_tag "stubs/hetao.jpg"
      .name
        文玩核桃
      .price
        ￥1100
    %li
      .image= image_tag "stubs/niaolong.jpg"
      .name
        黄花梨珍品鸟笼
      .price
        ￥4700

