%article
  %header
    = image_tag "stubs/yuanye.jpg"
    .profile
      %span= link_to "袁野", "#", class: "ulink"
      %span 设计师
    %p
      钟爱一切有质感的东西，出去吃个饭，也要收拾好行头，把钱和手机塞进
      = link_to "Hard Graft手机夹", "#", class: "plink"
      ，看看手上的
      = link_to "Swatch眼球表", "#", class: "plink"
      是否有些歪斜，照照镜子，恩，今天的我也很适合身上这件
      = link_to "The Beatle Tee", "#", class: "plink"
      。
  %ul
    %li
      .image= image_tag "stubs/hardgraft.jpg"
      .name
        Hard Graft折叠手机夹
      .price
        ￥500
    %li
      .image= image_tag "stubs/swatch.jpg"
      .name
        Swatch眼球系列
      .price
        ￥500
    %li
      .image= image_tag "stubs/beatle.jpg"
      .name
        The Beatle Tee
      .price
        ￥500
