%article
  %header
    = image_tag "stubs/yuanye.jpg"
    .profile
      %span= link_to "袁野", "#", class: "ulink"
      %span 设计师
    %p
      钟爱一切有独特设计的手表，最喜欢
      = link_to "吕中方的TIWE", "#", class: "plink"
      ，屏幕上的白点像童年夜空中的繁星，想看时间时晃一下就行。还有Carri Munden的
      = link_to "Swatch Rankin", "#", class: "plink"
      ，手上的第三只眼，充满着独特的混沌感，最后是专属于Geek们的
      = link_to "ThinkGeek Abyss", "#", class: "plink"
      ，像面对深不见底的末世深渊。
  %ul
    %li
      .image= link_to image_tag("stubs/tiwe.jpg"), "http://www.ixiqi.com/archives/2079", class: "outlink"
      .name
        吕中方TIWE概念手表
      .price
        概念品
    %li
      .image= link_to image_tag("stubs/swatch.jpg"), "http://www.swatch.com/gb_en/watches/finder-detail.sku-GZS46.html", class: "outlink"
      .name
        Swatch Rankin限量眼球表
      .price
        ￥510
    %li
      .image= link_to image_tag("stubs/thinkgeek.jpg"), "http://www.thinkgeek.com/interests/giftsforhim/e596/", class: "outlink"
      .name
        ThinkGeek Abyss LED触摸屏手表
      .price
        ￥420
