!!!
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="zh-CN"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh-CN"> <!--<![endif]-->
%head
  %meta(charset="utf-8")
  %meta(name="author" content="lilu.life@gmail.com")
  %meta(name="description" content="觅见-让爱好者们分享生活中精品的社交导购服务")
  %meta(name="viewport" content="width=device-width,initial-scale=1")
  %title= "觅见" + page_title(yield(:title))
  = favicon_link_tag '/favicon.png', type: 'image/png'
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body{id: params[:controller]}
  = yield
  = yield :script
  -# = javascript_include_tag "ga" 
</html>
